.crimson-pro {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  /* font-weight: 200; */
  font-style: normal;
/* <weight>: Use a value from 200 to 900
<uniquifier>: Use a unique and descriptive class name */
}

.nav button {
    border: none;
    margin: 0;
    font-family: "Crimson Pro", serif;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 1%;
    font-style: normal;
    background-color: transparent;
    color: rgb(211, 220, 223);
    padding: 0.5rem 1rem;
}

.nav button:hover {
    text-shadow: 0 0 10px #f6ff08;
}

.nav {
    display: flex;
    /* display: none; */
    align-items: center;
    gap: 2rem;
    background-color: none;
}

.page::-webkit-scrollbar {
    /* display: none; */
    width: 5px;
}
.page::-webkit-scrollbar-thumb {
    background-color: rgb(211, 220, 223);
    border-radius: 1.5px;
}

body > .page {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: rgb(35, 32, 31);
    margin: 0;
    padding: 0;

}

.page {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(211, 220, 223);
    font-style: normal;
    z-index: 15;
    overflow-y: auto;
    box-sizing: border-box;
    /* backdrop-filter: blur(5px); */

}

.close-btn-overlay {
    display: none;

    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 32px;
    color: rgb(35, 32, 31);
    z-index: 17;
    padding: 0;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.close-btn-overlay:hover {
    text-shadow: 0 0 10px #f6ff08;
}

.page button {
    font-family: "Crimson Pro", serif;
    font-size: 32px;
    line-height: 32px;
    font-weight: 400;
    text-align: right;
}

.page-text {
    font-family: "Crimson Pro", serif;
    font-size: 42px;
    line-height: 1.4;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    /* color: rgb(246, 243, 240); */
    padding: 4vh 4vw 4vh 4vw;
    width: 100%;
    box-sizing: border-box;
    cursor: auto;
}

video {
    width: 100%;
    height: auto;
    display: block;
    padding: 0;
    margin: 0;
    border: none;
}

audio::-webkit-media-controls-enclosure {
    display: none;
}

audio {
    appearance: none;
    position: sticky;
    right: 1.5rem;
    bottom: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: rgba(220, 244, 255, 0.8);
    backdrop-filter: blur(3px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    padding: 0.4rem 1rem;
    border-radius: 8px;
    z-index: 12;

    font-size: 16px;
    font-family: "Crimson Pro", serif;
    outline: none;
}

audio::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 4px;
    height: 4px;
    background-image: url(image/me.png);
    background-size: cover;
    background-repeat: no-repeat;
}